  body{
background-image:url(../../Images/woodback.jpg);
background-repeat:no-repeat;
background-size:cover; 
font-family: 'Fira Sans', sans-serif;
}

html{
    margin:0;
    padding:0;
    
}

@media only screen and (min-width:300px){
    
    #wrapper {
  display: grid;
  grid-template-columns: 1fr 5px;
  grid-template-rows: repeat(9,50px 5px);
    

}
    
        
    .a{
    grid-column:1/2;
    grid-row: 1/16;
    min-height: 200px;
    background-image: url(../../Images/leaves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;   
   
}

     #img1{
        text-align: center;
            
        }
 
 .b{
    grid-column:1/2;
    grid-row: 17/25;
    min-height: 20px;
    margin-top:5px; 
    
    
     
   
}
    
        #img1{
            
            text-align: center;
            
        }    
    
    
    .c{
    grid-column:1/2;
    grid-row: 26/27;
    margin-top:10px; 
  
}
    
    
    
 .d{
    grid-column:1/2;
    grid-row: 27/28;
    background-color: tan;
    max-width: 700px;
    padding-left: 30px;
    font-size: 20px;
    text-align: center;
    padding-right: 30px; 
    margin-top:10px; 
  
     
   
}   
    
}
              
footer{
    min-height: 20px;
    background-color:8A1D07;
    
    
}
   
 
            
            
    
@media only screen and (min-width:450px){
    
    #wrapper {
  display: grid;
 
  grid-template-columns: repeat(2, 1fr 5px);
  grid-template-rows: repeat(5,100px 5px);
    

}



        
    .a{
    grid-column:1/4;
    grid-row: 1/9;
    min-height: 200px;
    background-image: url(../../Images/leaves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}

     #img1{
        text-align: center;
            
        }
 
 .b{
    grid-column:1/4;
    grid-row:9/12;
    margin-top: 10px;
     
    
    
     
   
}
    
        #img1{
            
            text-align: center;
            
        }    
    
    
    .c{
    grid-column:1/2;
    grid-row:13/14;
    margin-top:10px;    
     margin-bottom: 10px; 
  
}
    
    
    
 .d{
    grid-column:3/4;
    grid-row: 13/14;
    background-color: tan;
    max-width: 700px;
    padding-left: 30px;
    font-size: 30px;
    text-align: center;
    padding-right: 30px; 
    padding-top: 20px; 
    margin-top: 10px;
    margin-bottom: 10px; 
    
  
     
   
}   
    

      
footer{
    min-height: 15px;
    background-color:8A1D07;

    
    
}
        
      ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

a:link, a:visited {
    display:inline;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    padding: 20px;
    text-decoration:inherit;
    text-transform: uppercase;
    border-right:solid 1px #fff; 
   
            
   
    } 
}
 
    
    
    
    @media only screen and (min-width:1000px){
    
    #wrapper {
      display: grid;
  grid-template-columns: repeat(3, 1fr 5px);
  grid-template-rows: repeat(4,100px 5px);
  margin-left: 100px;
  margin-right: 100px;
        }
    
    
    .a{
    grid-column:1/6;
    grid-row: 1/5;
    background-image: url(../../Images/leaves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}

     #img1{
        text-align: center;
            
        }
 
 .b{
    grid-column:1/4;
    grid-row: 5/20;
    margin-top:20px;
     
        }
        
        
        
    .c{
    grid-column:5/6;
    grid-row: 5/10;
    margin-top:20px;    

  
}    
        
        
 .d{
    grid-column:5/6;
    grid-row: 11/20;
    background-color: tan;
    padding-left: 30px;
    font-size: 20px;
    text-align: center;
    padding-right: 30px; 
  
     
   
}   
    
     


    
footer{
    min-height: 70px;
    background-color:8A1D07;

        
    
}
        
      ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

a:link, a:visited {
    display:inline;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    padding: 20px;
    text-decoration:inherit;
    text-transform: uppercase;
    border-right:solid 1px #fff; 
   
            
        }  
        

        }