  body{
background-image:url(../Images/woodback.jpg);
background-repeat:no-repeat;
background-size:cover; 
font-family: 'Fira Sans', sans-serif;
}

html{
    margin:0;
    padding:0;
    
}

@media only screen and (min-width:300px){
    
    #wrapper {
  display: grid;
  grid-template-columns: 1fr 5px;
  grid-template-rows: repeat(9,50px 5px);
    

}


.box{
  
    margin:5px;
    
    }
    .a{
    grid-column:1/5;
    grid-row: 1/16;
    min-height: 200px;
    background-image: url(../Images/leaves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;    
   
}

     #img1{
        text-align: center;
            
        }
 
 .b{
    grid-column:1/6;
    grid-row: 16/22;
    min-height: 20px; 
    
    
     
   
}
    
        #img1{
            
            text-align: center;
            
        }    
    
    
    .c{
    grid-column:1/6;
    grid-row: 25/26;
    background-color: tan;
    padding-left: 10px;    
  
}
    
    
    
 .d{
    grid-column:1/6;
    grid-row: 23/24;
    background-color: tan;
    max-width: 700px;
    font-size: 14px;
    text-align: left;
    padding-left: 10px 
    
  
     
   
}       
footer{
    min-height: 50px;
    background-color:8A1D07;
    
    
}
   

            
            
}
 
    
@media only screen and (min-width:450px){
    
    #wrapper {
  display: grid;
 
  grid-template-columns: repeat(2, 1fr 5px);
  grid-template-rows: repeat(5,100px 5px);
    

}

.box{
    min-height:100px;
    margin:5px;
    padding-top: 10px;

   
}
       .a{
    grid-column:1/4;
    grid-row: 1/9;
    min-height: 200px;
    background-image: url(../Images/leaves.jpg);
    background-repeat: no-repeat;
    background-size: cover;       
   
}
.b{
    grid-column:1/4;
    grid-row:9/12;
    
    
     
   
}
    
        #img1{
            
            text-align: center;
            
        }    
    
    
    .c{
    grid-column:1/4;
    grid-row:14/15;
    background-color: tan;
    padding-left: 20px;    
  
}
    
    
    
 .d{
    grid-column:1/4;
    grid-row: 12/13;
    background-color: tan;
    padding-left: 30px;
    font-size: 20px;
    text-align: left;
    padding-right: 30px; 
  
     
   
}    
    
    
footer{
    min-height: 15px;
    background-color:8A1D07;
   
 
    
}
        
      ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

a:link, a:visited {
    display:inline;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    padding: 20px;
    text-decoration:inherit;
    text-transform: uppercase;
    border-right:solid 1px #fff; 
   
            
        } 
           
}
      
    
    
  
    
    @media only screen and (min-width:1000px){
    
    #wrapper {
      display: grid;
  grid-template-columns: repeat(3, 1fr 5px);
  grid-template-rows: repeat(4,100px 5px);
  margin-left: 100px;
  margin-right: 100px 
        }

    
    .box{   
}
   
    
    .a{
    grid-column:1/6;
    grid-row: 1/5;
    min-height: 200px;
    background-image: url(../Images/leaves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}

     #img1{
        text-align: center;
            
        }
 
 .b{
    grid-column:1/4;
    grid-row: 5/20;
   
     
    
    
     
   
        }
    
 .c{
    grid-column:5/6;
    grid-row: 11/20;
    background-color: tan;
    max-width: 700px;
    padding-left: 30px;
    font-size: 20px;
    text-align: center;
    padding-right: 30px; 
  
     
   
}   
    
     
    
    
.d{
    grid-column:5/6;
    grid-row: 5/10;
    background-color: tan;
    padding-left: 30px;
    font-size: 20px;
    text-align: center;
    padding-right: 30px; 
    margin-top: 15px;
  
}

        .d h1,h2,h3{
            font-size: 30px;
            text-align: left;
        }
        .d ul{
            text-align: left;
        }

}

      
              
footer{
    min-height: 70px;
    background-color:8A1D07;
    
 
}
        
      ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

a:link, a:visited {
    display:inline;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    padding: 20px;
    text-decoration:inherit;
    text-transform: uppercase;
    border-right:solid 1px #fff; 
   
            
        }  
       

        }